.H2{
    width: 70;
    height: 78px;
    background-color: rgb(255, 111, 0);
    white-space: 3PX;
    white-space: 9PX;
}



.CAIXA{
    width: 500px;
    height: 78px;
    background-color: aqua;
    white-space: 3PX;
    white-space: 9PX;
}

.MEU time{
width: 3PX;
height: 56PX;
}
